@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
.App {
  height: 100%;
  text-align: center;
}
body{
  background-image: url('https://wallpapershome.com/images/pages/pic_h/23424.jpg');
  object-fit:cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h1{
  text-transform: uppercase;
  font-size: 45px;
  letter-spacing:4px;
  font-weight:500;
  font-family: 'Odibee Sans', cursive;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
